body {
  margin: 0;
  padding: 0;
  font-family: Helvetica, Arial, sans-serif;
  color: #666;
  background: #f2f2f2; 
  font-size: 1em;
  line-height: 1.5em;
  /* Aquí el origen de la imagen */
  background-image: url(img/fondo2.jpg);
   /* Fijar la imagen de fondo este vertical y horizontalmente y centrado */
  background-position: center center;
  /* Esta imagen no debe de repetirse */
  background-repeat: no-repeat;
  /* COn esta regla fijamos la imagen en la pantalla. */
  background-attachment: fixed;
  /* La imagen ocupa el 100% y se reescala */
  background-size: cover;
  /* Damos un color de fondo mientras la imagen está cargando  */
  background-color: #464646;
}

.primera{
	height: 200px;
    width: 1000px;
}

h1{
 	 	color: red;
 	 }


 table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
        color: black;
        font-family: arial;
        text-align: center;
     } 

 th, td {
        padding: 15px;
      }

.imagen{

    height: 200px;
    width: 200px;
	 } 

#main-footer {
  background: #333;
  color: white;
  text-align: center;
  padding: 10px;
  margin-top: 122px;
}
  
 p {
  margin: 0 0 1.5em 0;
}

li{
  font-size:15px;
}
  
img {
  max-width: 100%;
  height: auto;
}

dl{
 font-size:15px;
}

th  {
   color: black;
    font-family: arial;
    font-size: 15px;
}
td  {
    color: black;
    font-family: arial;
    font-size: 13px;
    }

   
#main-header {
  background: #333;
  color: white;
  height: 80px;
}

 #main-header a {
    color: red;
    font-size: 15px;
  }

 nav ul li {
      display: inline-block;
      line-height: 80px;
    }
      
nav ul li a {
        display: block;
        padding: 0 10px;
        text-decoration: none;
      }
      
nav ul li a:hover {
          background: #0b76a6;
        }

#main-content {
  background: white;
  width: 90%;
  max-width: 70%;
  margin: 20px auto;
  box-shadow: 0 0 10px rgba(0,0,0,.1);
}
 
  #main-content header,
  #main-content .content {
    padding: 40px;
  }


#main-footer {
  background: #333;
  color: white;
  text-align: center;
  padding: 10px;
  margin-top: 122px;
}

#main-footer p {
    margin: 0;
}

*{
  margin: 0;
  padding: 0;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
}

